<div class="container mt-5 editRestaurant">
    <h1 class="mb-4">Edit Restaurant: {{restaurant.name}}</h1>
    <form action="/api/restaurants/edit/{{restaurant._id}}" method="POST">
        
        <div class="row">
            <!-- Name -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{restaurant.name}}" required>
                </div>
            </div>

            <!-- Location (Borough) -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="borough">Location (Borough)</label>
                    <input type="text" class="form-control" id="borough" name="borough" value="{{restaurant.borough}}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Cuisine -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cuisine">Cuisine</label>
                    <input type="text" class="form-control" id="cuisine" name="cuisine" value="{{restaurant.cuisine}}" required>
                </div>
            </div>

            <!-- Building Number -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="building">Building Number</label>
                    <input type="text" class="form-control" id="building" name="address.building" value="{{restaurant.address.building}}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Street -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" name="address.street" value="{{restaurant.address.street}}" required>
                </div>
            </div>

            <!-- Zipcode -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" class="form-control" id="zipcode" name="address.zipcode" value="{{restaurant.address.zipcode}}" required>
                </div>
            </div>
        </div>

        <!-- Buttons  -->
        <div class="mt-4">
        <button type="submit" class="btn btn-primary">Update Restaurant</button>
        <a href="/restaurants/{{restaurant._id}}" class="btn btn-secondary mt-4 ml-2">Cancel</a>
    </div>
    </form>
</div>
