<h1 class="mt-5 mb-3 text-center">All Restaurants</h1>
<div class="container">
    <table class="table table-hover">
        <!-- Table header -->
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Borough</th>
                <th>Address</th>
                <th>Cuisine</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through restaurants -->
            {{#each restaurants}}
            <tr>
                <td><strong>{{name}}</strong></td>
                <td>{{borough}}</td>
                <td>{{address.street}}</td>
                <td>{{cuisine}} Cuisine</td>
                <!-- Add more table cells as needed -->
            </tr>
            {{/each}}
        </tbody>
    </table>
<!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <!-- First page link -->
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasPrevPage}}?page={{firstPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">First</a>
            </li>

            <!-- Previous page link -->
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasPrevPage}}?page={{prevPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Previous</a>
            </li>

            <!-- Next page link -->
            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasNextPage}}?page={{nextPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Next</a>
            </li>

            <!-- Last page link -->
            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasNextPage}}?page={{lastPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Last</a>
            </li>
        </ul>
    </nav>
</div>
