<div class="container mt-5">
    <h1 class="mb-3 text-center">All Restaurants</h1>
    <!-- Search Form -->
<form action="/search/" method="GET" class="mb-4" style="padding: 0; box-shadow: 0 0 0 0; margin: 0">
  <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by  Restaurant Id.." name="id" aria-label="Search by  Restaurant Id">
        <div class="input-group-append" style="height: 42px;">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>


    <table class="table table-hover">
        <!-- Table header -->
        <thead class="thead-light">
            <tr>
                <th>Restaurant Id</th>
                <th>Name</th>
                <th>Borough</th>
                <th>Address</th>
                <th>Cuisine</th>
                <th> </th>
                <th></th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through restaurants -->
            {{#each restaurants}}
            <tr>
                <td>{{_id}}</td>
                <td><strong>{{name}}</strong></td>
                <td>{{borough}}</td>
                <td>{{address.street}}</td>
                <td>{{cuisine}} Cuisine</td>
                <td>
                    <a href="/restaurants/{{_id}}" class="btn btn-primary edit-btn">View</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <!-- First page link -->
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasPrevPage}}?page={{firstPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">First</a>
            </li>

            <!-- Previous page link -->
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasPrevPage}}?page={{prevPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Previous</a>
            </li>

            <!-- Next page link -->
            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasNextPage}}?page={{nextPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Next</a>
            </li>

            <!-- Last page link -->
            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
                <a class="page-link" href="{{#if hasNextPage}}?page={{lastPage}}&perPage={{perPage}}&borough={{borough}}{{/if}}">Last</a>
            </li>
        </ul>
    </nav>
</div>
