<div class="restuarentDetails">
    <h1 class="display-4">{{restaurant.name}}</h1>
    <div class="mt-3 mb-5">
        <p><strong>Location:</strong> {{restaurant.borough}}</p>
        <p><strong>Cuisine:</strong> {{restaurant.cuisine}}</p>
        <p>
            <strong>Address:</strong>
            {{restaurant.address.building}} {{restaurant.address.street}},
            Zipcode: {{restaurant.address.zipcode}}
        </p>
    </div>

    <h3>Grades</h3>
    {{#if restaurant.grades.length}}
    <div class="list-group mt-3">
        {{#each restaurant.grades}}
        <div class="list-group-item">
            Date: {{this.date}}, Grade: {{this.grade}}, Score: {{this.score}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No grades available.</p>
    {{/if}}

<div class="mt-4">
    <!-- Edit Button -->
    <a href="/api/restaurants/edit/{{restaurant._id}}" class="btn btn-primary mr-2">Edit</a>

    <!-- Delete Button -->
    <a href="#" class="btn btn-danger btn-sm" onclick="deleteRestaurant()">Delete</a>
    <form id="deleteForm" action="/restaurants/{{restaurant._id}}" method="POST" style="display: none;">
        <input type="hidden" name="_method" value="DELETE">
    </form>
</div>

</div>
<script>
    async function deleteRestaurant() {
        const restaurantId = "{{restaurant._id}}";

        try {
            const response = await fetch('/restaurants/{{restaurant._id}}', {
                method: "DELETE"
            });

            if (response.ok) {
                window.location.href = "/restaurants";
            } else {
                console.error("Error deleting restaurant:", response.statusText);
                alert("Failed to delete restaurant. Please try again.");
            }
        } catch (error) {
            console.error("Error deleting restaurant:", error);
            alert("An unexpected error occurred. Please try again later.");
        }
    }
</script>
